include PUG-Bootstrap/_bootstrap
html
    head
        title=photoLAB
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
        style
            include css/main.css
    body
        nav(id='menu' class="navbar navbar-expand-md rounded-0 menu" style="background: #1e1e1e")

            button(class="navbar-toggler btn btn-outline-light mr-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
                span(class="navbar-toggler-icon")
            a(class="navbar-brand disabled", id='brand') photoLAB

            div(class="collapse navbar-collapse", id="collapsibleNavbar")
                div(class="navbar-nav")
                    a(class="nav-item nav-link" style="color: #efefef" href="/") головна
                    span(class="sr-only") (current)
                    a(class="nav-item nav-link" style="color: #efefef" href="/profile") профіль
                    a(class="nav-item nav-link" style="color: #efefef" href="/settings") налаштування
                    a(class="nav-item nav-link" style="color: #efefef" href='/help') допомога
            button(class="btn btn-outline-light", type='button', data-toggle="modal", data-target='#reg_modal') Реєстрація
            button(class="btn btn-outline-warning", type='button', data-toggle="modal", data-target='#entry_modal') Вхід
        div(class="row mg-0")
            div(class="carousel slide col-md-12 mg-0" data-ride="carousel")
                div(class="carousel-inner")
                    div(class="carousel-item active")
                        img(class="d-block w-100", src="slider1.jpg", alt="First slide")
                    div(class="carousel-item")
                        img(class="d-block w-100", src="slider2.jpg", alt="Second slide")
                    div(class="carousel-item")
                        img(class="d-block w-100", src="slider3.jpg", alt="Third slide")

    div(id="entry_modal", class="modal fade", role="dialog", aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content" )
                div(class="modal-body")
                    button(type="button" class="close" data-dismiss="modal") &times;
                    form(method="POST", class="mx-auto was-validated", action="/login")
                        +input("text","","Логін", "Логін",name='login', required)
                        +input("password","","Пароль", "Пароль",name='password', required)
                        button(type="submit" class="btn btn-warning btn-block" ) Вхід

    div(id="reg_modal", class="modal fade", role="dialog", aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content" )
                div(class="modal-body")
                    nav
                        div(class="nav nav-tabs" id="nav-tab" role="tablist")
                            a(class="nav-item nav-link black active" id="client_reg_tab" data-toggle="tab" href="#client_reg" role="tab" aria-controls="client_reg" aria-selected="true") Клієнт
                            a(class="nav-item nav-link black" id="ph_reg_tab" data-toggle="tab" href="#ph_reg" role="tab" aria-controls="ph_reg" aria-selected="false") Фотограф

                    div(class="tab-content" id="nav-tabContent")
                        div(class="tab-pane show active" id="client_reg" role="tabpanel" aria-labelledby="client_reg_tab")
                            form(method="POST", class="mx-auto was-validated", action="/register")
                                +input("text","","Ім'я користувача", "Ім'я користувача",name='nickname', required)
                                +input("text","","Електронна пошта", "Електронна пошта",name='email', required)
                                +input("text","","Місто", "Місто",name='city')
                                +input("password","","Пароль", "Пароль",name='password', required)
                                button(type="submit" class="btn btn-light btn-block green") Зареєструватись!


                        div(class="tab-pane fade" id="ph_reg" role="tabpanel" aria-labelledby="ph_reg_tab")
                            form(method="POST", class="mx-auto ", action="/registerph")
                                div(class="row")
                                    div(class="form-group col")
                                        label(for="input_email" class="non-bold") Електронна пошта
                                        input(type="email" id="input_email" class="form-control " )
                                    div(class="form-group col")
                                        label(for="input_username" class="non-bold") Ім'я користувача (нікнейм)
                                        input(type="text" class="form-control" id="input_username"  )
                                div(class="row")
                                    div(class="form-group col")
                                        label(for="input_name" class="non-bold") Прізвище
                                        input(type="text" class="form-control" id="input_surname"  )
                                    div(class="form-group col")
                                        label(for="input_name" class="non-bold") Ім'я
                                        input(type="text" class="form-control" id="input_name"  )
                                div(class="row")
                                    div(class="form-group col" )
                                        label(for="input_name" class="non-bold") По-батькові
                                        input(type="text" class="form-control" id="input_fathername"  )
                                    div(class="form-group col")
                                        label(for="input_name" class="non-bold") Місто
                                        input(type="text" class="form-control" id="input_city" )

                                .panel.panel-default()
                                    .panel-heading Вкажіть все, чим займаєтесь:
                                    .panel-body(style="padding-left:30px!important")
                                        each t in types
                                            div(class="form-group custom-checkbox ")
                                                input(type='checkbox',id="check"+t,class="custom-control-input " )
                                                label(for="check"+t, class="custom-control-label non-bold")=t
                                div(class="row")
                                    div(class="form-group col")
                                        label(for="input_price" class="non-bold") Середня ціна зйомки($)
                                        input(type="number" class="form-control" id="input_price" )
                                    div(class="form-group col")
                                        label(for="input_years" class="non-bold") Стаж роботи(років)
                                        input(type="number" class="form-control" id="input_years" )
                                div(class="form-group")
                                    label(for="input_job" class="non-bold") Місце роботи
                                    input(type="text" class="form-control" id="input_job" )
                                div(class="form-group")
                                    label(for="input_name" class="non-bold") Пароль
                                    input(type="password" class="form-control text-muted" id="input_password"  )

                                button(type="submit" class="btn btn-dark btn-block ") Зареєструватись!

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")