include PUG-Bootstrap/_bootstrap
html
    head
        title= config.title
        include views/links
    body
        nav(id='menu' class="navbar navbar-expand-md rounded-0 menu mg-0 font-17 navbar-fixed" style="background: #1e1e1e")
            button(class="navbar-toggler btn btn-outline-light mr-auto" type="button" data-toggle="collapse" data-target="#mynavbar")
                span(class="navbar-toggler-icon")
            img(class="logo" src="../public/images/icon.png")
            a(class="navbar-brand disabled brand" style="color: #efefef!important;") photoLAB

            div(class="collapse navbar-collapse ", id="mynavbar")
                div(class="navbar-nav expand my-navbar font-17")
                    if(active=='home')
                        a(class="nav-item nav-link menu-active" active style="color: #efefef" href="/") головна
                    else
                        a(class="nav-item nav-link" active style="color: #efefef" href="/") головна
                    if(active == 'help')
                        a(class="nav-item nav-link menu-active"  style="color: #efefef" href='/help') про нас
                    else
                        a(class="nav-item nav-link"  style="color: #efefef" href='/help') про нас
                if(active == 'reg')
                    a(class="nav-item nav-link menu-active" style="color: #efefef" href='/reg') Реєстрація
                else
                    a(class="nav-item nav-link" style="color: #efefef" href='/reg') Реєстрація
                button(class="btn btn-outline-warning float-rightt mg-l-15", type='button', data-toggle="modal", data-target='#entry_modal') Вхід






    include views/modals
    include views/scripts
