if(cookies.auth=='true')
    include ../navbar
else
    include ../navbar_unsign
.row(class='bg-white pd-0 mg-0')
    .col-md-2
    .col-md-8
        p(class='text-40 green') PhotoLAB 1.1 - НОВІ МОЖЛИВОСТІ
        p(class='text-20 green') КЛІЄНТАМ:
            ul
                li Знайти фотографів з свого міста
                li Знайти тих, хто знімає у потрібному вам напрямку
                li Оцінювати роботи фотографів
                li Зберігати вподобаних майстрів
                li Замовити зйомку(в процесі)
        p(class='text-20 green') ФОТОГРАФАМ:
            ul
                li Знайти потенційних клієнтів
                li Ділитись своєю творчістю
                li Знаходити творишів по цеху
        .col-md-2
.footer
    .row(class='pd-0 mg-0')
        .col-md-2
        .col-md-10
            p(class='text-20 green') КОНТАКТИ:
        .col-md-2
        .col-md-10
            p(class='text-20 mg-0')
                span(class='link2 mg-r-30')
                    i(class='text-20  fa fa-envelope')
                    span  solja484@gmail.com
                span(class='link2 mg-r-30')
                    i(class='text-20 fa fa-phone')
                    span  +380958340484
                a(class='text-20 link2 mg-0' href='https://www.instagram.com/gingermias/')
                    i(class='text-20 fa fa-instagram')
                    span   gingermias
        .col-md-12
            div(class='empty-div')
