div(id="entry_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-body")
                button(type="button" class="close" data-dismiss="modal") &times;
                form(method="POST", class="mx-auto font-17", action="/login" )
                    +input("text","","Логін", "Логін",name='login', required)
                    +input("password","","Пароль", "Пароль",name='password', required)
                    button(type="submit" class="btn btn-warning btn-block font-17" ) Вхід

div(id="add_folder_modal", class="modal fade font-17", role="dialog")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-header")
                h4(class="text-center text-20") Нова папка
                button(type="button" class="close" data-dismiss="modal") &times;

            div(class="modal-body")
                form(class="mx-auto font-17 " id='add_folder_form')
                    div(class="form-group")
                        label(for='addfoldertitle' class='non-bold') Назва папки:
                        input(type="text", class='form-control' id="addfoldertitle", placeholder="Назва", name='title')
                        div(class="invalid-feedback text-14 mg-l-15") Це поле не може бути пустим!
            div(class="modal-footer")
                button(class="btn btn-info bg-green btn-block font-17"
                onclick='addFolder()' type='button') Створити папку


div(id="add_photo_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-body")
                nav
                    div(class="nav nav-tabs font-17" id="nav-tab" role="tablist")
                        a(class="nav-item nav-link black active" id="link_photo_tab" data-toggle="tab" href="#link_photo" role="tab" aria-controls="link_photo" aria-selected="true") Посилання
                        a(class="nav-item nav-link black " disabled id="download_photo_tab" data-toggle="tab" href="#download_photo" role="tab" aria-controls="download_photo" aria-selected="false") Завантажити

                div(class="tab-content" id="nav-tabContent")
                    div(class="tab-pane show active" id="link_photo" role="tabpanel" aria-labelledby="link_photo_tab")
                        form(id="add_photolink_form", class="mx-auto needs-validation")
                            div(class="form-group")
                                label(for="add_photolink_link" class="non-bold") Посилання:
                                input(type="text", id="add_photolink_link", class="form-control", placeholder="Url", name='photo_link')
                                div(class="invalid-feedback text-14 mg-l-15") Це полене може бути пустим!

                            div(class="form-group")
                                label(for="add_photolink_title") Назва:
                                input(id="add_photolink_title" class="form-control")
                            div(class="form-group")
                                label(for="add_photolink_descr") Опис:
                                textarea(id="add_photolink_descr" class="form-control" rows=2)

                            div(class="form-group")
                                label(for="add_photolink_tags") Теги:
                                textarea(id="add_photolink_tags" class="form-control" rows=2)
                                small(class='text-14 text-muted') Одне слово-один тег
                                div(class='invalid-feedback') Тільки букви та цифри, без # та інших символів
                        button( class="btn btn-info btn-block" onclick='addPhotoLink()') Додати фото!


                    div(class="tab-pane fade" id="download_photo" role="tabpanel" aria-labelledby="download_photo_tab")
                        form(id="download_photo_form", method="POST", class="mx-auto needs-validation", action="/downloadphoto")
                            div(class="form-group")
                                label(for="photo_file" class="non-bold") Оберіть файл:
                                input(type="file", id="photo_file", class="form-control", name='photo_file',accept="image/*")
                                div(class="invalid-feedback text-14 mg-l-15") Оберіть файл!
                        input(type="submit" class="btn btn-info btn-block ", value="Додати фото!")


div(id="exit_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-body")
                button(type="button" class="close" data-dismiss="modal") &times;
                form(action="/logout", method="POST", class="row")
                    p(class="text-24 text-center col-md-12") Ви впевнені, що хочете вийти?
                    input(class="btn btn-md btn-danger col-md-6" type="submit" value='Вийти')
                    button(class="btn btn-md btn-default col-md-6" type="button" data-dismiss="modal") Повернутись