div(id="entry_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-body" )
                button(type="button" class="close" data-dismiss="modal") &times;

                form(class="mx-auto font-17" id="entry_form")
                    +input("text","login_login","Логін", "Логін",name='login', required)
                    +input("password","login_pass","Пароль", "Пароль",name='password', required)
                button(type="button" class="btn btn-warning btn-block font-17" onclick='login()') Вхід


div(id="add_folder_modal", class="modal fade font-17", role="dialog")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-header")
                h4(class="text-center text-20") Нова папка
                button(type="button" class="close" data-dismiss="modal") &times;

            div(class="modal-body")
                form(class="mx-auto font-17 " id='add_folder_form')
                    div(class="form-group")
                        label(for='addfoldertitle' class='non-bold') Назва папки:
                        input(type="text", class='form-control' id="addfoldertitle", placeholder="Назва", name='title')
                        div(class="invalid-feedback text-14 mg-l-15") Це поле не може бути пустим!
            div(class="modal-footer")
                button(class="btn btn-info bg-green btn-block font-17"
                onclick='addFolder()' type='button') Створити папку

div(id="add_photo_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-body")
                nav
                    div(class="nav nav-tabs font-17" id="nav-tab" role="tablist")
                        a(class="nav-item nav-link black active" id="link_photo_tab" data-toggle="tab" href="#link_photo" role="tab" aria-controls="link_photo" aria-selected="true") Посилання
                        a(class="nav-item nav-link black " disabled id="download_photo_tab" data-toggle="tab" href="#download_photo" role="tab" aria-controls="download_photo" aria-selected="false") Завантажити

                div(class="tab-content" id="nav-tabContent")
                    div(class="tab-pane show active" id="link_photo" role="tabpanel" aria-labelledby="link_photo_tab")
                        form(id="add_photolink_form", class="mx-auto needs-validation")
                            div(class="form-group")
                                label(for="add_photolink_link" class="non-bold") Посилання:
                                input(type="url", id="add_photolink_link", class="form-control", placeholder="Url", name='photo_link')
                                div(class="invalid-feedback text-14 mg-l-15") Це полене може бути пустим!

                            div(class="form-group")
                                label(for="add_photolink_title" class="non-bold mg-0") Назва:
                                input(id="add_photolink_title" class="form-control")
                            div(class="form-group")
                                label(for="add_photolink_descr" class="non-bold mg-0") Опис:
                                textarea(id="add_photolink_descr" class="form-control" rows=2)

                            div(class="form-group")
                                label(for="add_photolink_tags" class="non-bold mg-0") Теги:
                                textarea(id="add_photolink_tags" class="form-control" rows=2)
                                small(class='text-14 text-muted') Одне слово-один тег
                                div(class='invalid-feedback') Тільки букви та цифри, без # та інших символів
                        button( class="btn btn-info bg-green btn-block" onclick='addPhotoLink()') Додати фото!


                    div(class="tab-pane fade" id="download_photo" role="tabpanel" aria-labelledby="download_photo_tab")
                        form(id="download_photo_form",  class="mx-auto needs-validation")
                            div(class="form-group")
                                label(for="add_photofile_file" class="non-bold") Оберіть файл:
                                input(type="file", id="add_photofile_file", class="form-control", name='photo_file', accept="image/*")
                                div(class="invalid-feedback text-14 mg-l-15") Оберіть файл!
                            div(class="form-group")
                                label(for="add_photofile_title" class="non-bold mg-0") Назва:
                                input(id="add_photofile_title" class="form-control")
                            div(class="form-group")
                                label(for="add_photofile_descr" class="non-bold mg-0") Опис:
                                textarea(id="add_photofile_descr" class="form-control" rows=2)

                            div(class="form-group")
                                label(for="add_photofile_tags" class="non-bold mg-0") Теги:
                                textarea(id="add_photofile_tags" class="form-control" rows=2)
                                small(class='text-14 text-muted') Одне слово-один тег
                                div(class='invalid-feedback') Тільки букви та цифри, без # та інших символів
                        button(type="button" class="btn btn-info bg-green btn-block " onclick='addPhotoFile()') Додати фото!

div(id="exit_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-body")
                button(type="button" class="close" data-dismiss="modal") &times;
                form(action="/logout", method="POST", class="row")
                    br
                    p(class="text-24 text-center col-md-12") Ви впевнені, що хочете вийти?
                    div(class='empty-div')
                    .col-md-6
                        .row
                            .col-md-1
                            input(class="btn btn-md btn-danger col-md-10" type="submit" value='Вийти')
                    .col-md-6
                        .row
                            .col-md-1
                            button(class="btn btn-md btn-default col-md-10" type="button" data-dismiss="modal") Повернутись

div(id="make_order_modal", class="modal fade font-17", role="dialog")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-header")
                h4(class="text-center text-20") Замовлення зйомки на
                    span(id="make_order_date" class='text-20')
                button(type="button" class="close" data-dismiss="modal") &times;

            div(class="modal-body")
                form(class="mx-auto font-17 " id='make_order_form')
                    div(class="form-group")
                        label(for='make_order_topic' class='non-bold') Тема зйомки:
                        input(type="text", class='form-control' id="make_order_topic", placeholder="Тема")
                        div(class="invalid-feedback text-14") Це поле не може бути пустим!
                    div(class="form-group")
                        label(for='make_order_contact' class='non-bold') Введіть контакт для зв'язку:
                        input(type="text", class='form-control' id="make_order_contact", placeholder="Телефон, пошта чи нікнейм у соцмережі")
                        div(class="invalid-feedback text-14") Це поле не може бути пустим!
                    div(class="form-group")
                        label(for='make_order_text' class='non-bold') Текст замовлення:
                        textarea(class='form-control' id="make_order_text", rows=4, placeholder="Детальна інформація про умови зйомки, час тощо")
            div(class="modal-footer")
                button(class="btn btn-info bg-green btn-block font-17"
                id="make_order_button") Підтвердити замовлення

div(id="approve_order_modal", class="modal fade font-17", role="dialog")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-header")
                h4(class="text-center text-20") Підтвердження замовлення
                    span(id="approve_order_date" class='text-20')
                button(type="button" class="close" data-dismiss="modal") &times;

            div(class="modal-body")
                form(class="mx-auto font-17 " id='approve_order_form')

                    div(class="form-group")
                        label(for='approve_order_contact' class='non-bold') Введіть контакт для зв'язку:
                        input(type="text", class='form-control' id="approve_order_contact", placeholder="Телефон, пошта чи нікнейм у соцмережі")
                        div(class="invalid-feedback text-14") Це поле не може бути пустим!
                    div(class="form-group")
                        label(for='approve_order_text' class='non-bold') Текст замовлення:
                        textarea(class='form-control' id="approve_order_text", rows=4, placeholder="Детальна інформація про умови зйомки, час тощо")
            div(class="modal-footer")
                button(class="btn btn-info bg-green btn-block font-17" id="approve_order_button") Підтвердити замовлення

div(id="cancel_order_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-body")
                button(type="button" class="close" data-dismiss="modal") &times;
                form(id='cancel_order_form')
                    br
                    p(class="text-24 text-center col-md-12") Ви впевнені, що хочете скасувати замовлення?
                    div(class="form-group")
                        label(for='cancel_order_reason' class='non-bold') Вкажіть причину скасування замовлення:
                        input(type="text", class='form-control' id="cancel_order_reason")
                        div(class="invalid-feedback text-14") Це поле не може бути пустим!
            .row
                .col-md-6
                    .row(class='pd-0 mg-0 row')
                        .col-md-1
                        button(class="btn btn-md btn-danger mg-10 col-md-10" type="button" id='cancel_order_button') Скасувати!
                .col-md-6
                    .row
                        .col-md-1
                        button(class="btn btn-md btn-default mg-10 col-md-10" type="button" data-dismiss="modal") Повернутись