html
    head
        title=title
    style
        include ../public/stylesheets/profile.css
body
    include ../navbar
    .row
        .col-md-5
            p(class='float-left') here
        .col-md-7
            p and here

