html
    head
        title=title
    style
        include ../public/stylesheets/profile.css
body
    include ../navbar
    .row(class='mg-0 pd-0 bg-white')
        .col-md-2
        .col-md-8
            .row(class='mg-0 pd-10  minh')
                .col-md-4
                    div(class="avatar mg-10")
                        div(class="circle-avatar pd-10" style="background-image:url(../public/images/avatar.jpg)")
                .col-md-8
                    .row
                        .col-md-8
                            .h1(class="text-24") Прізвище Ім'я
                            .h5
                                span(class="text-muted pd-r-25") $150-220
                                i(class="material-icons text-20 ") &#xe55f;
                                span(class="text-20") Kiev

                            p(class="text-14 text-break") Про себе малееньким шрифтом
                        .col-md-4
                            button(class="btn btn-info bg-green" ) Редагувати
                            br
                            br
                            span(class="text-20") 9,5/10⭐️
                        .col-md-12
                            p
                                each t in types
                                    a(class='link1' href='/home/?subj='+t )= '#' + t.name+' '
                .col-md-12
                    ul(class='nav nav-tabs')
                        li(class="active")
                            a(data-toggle="tab" href="#favorites" class='link1') Збережено
                        li
                            a(data-toggle="tab" href="#calendar" class='link1') Календар
                        li
                            a(data-toggle="tab" href="#contacts" class='link1') Контакти
                        li
                            a( class='link1' href='/photoalbum/'+info.username) Фото
        .col-md-12
            div(class="tab-content")
                div(id="favorites" class="tab-pane row fade in active show")
                    .col-md-1
                    .col-md-10
                        p favorites
                div(id="calendar" class="tab-pane  row fade")
                    .col-md-1
                    .col-md-10
                        p calendar
                div(id="contacts" class="tab-pane  row fade")
                    .col-md-1
                    .col-md-10
                        p contacts

        .col-md-2
