

/* Month header */
.month {
    padding: 40px 25px;
    background: #34a99c;
    text-align: center;
}

.no-marks{
    list-style-type: none;
}
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}


.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays td {
    width: 13.6%;!important;
    color: #666;
    text-align: center;
}

.day {
    text-align:right;
    padding:20px 10px;
    font-size: 20px;
    margin: 0;
}

.busy{
    background: #c3c3c3;
}
.free{
    background: #f8f8f8;
}
.free:hover,.free:active,.free:focus{

    background: white;
    cursor: pointer;
}

.active-date{
    background: rgba(119, 238, 119, 0.3);!important;
}
.inactive{
    background: rgba(195, 44, 0, 0.3);
}

.in-progress{
    background: rgba(255, 193, 7, 0.5);
}

.denied{
    background: rgba(220, 53, 69, 0.5);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}