.search-form{
    position: absolute;
    top:40%;
    left:20%;
    width:60%;

}

.slider{
    max-height:86vh;!important;
    overflow: hidden;
    vertical-align: center;
    position: relative;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}