*{
    font-size: 17px!important;
}

body{
    background: #1e1e1e;!important;
}

.bg-green{
    background: #34a99c !important;
}

.bg-hover-green:hover,.bg-hover-green:focus,.bg-hover-green:active{
    background: #34a99c;
    color:white;
}
.bg-white{
    background: white;
}
.green{
    color: #34a99c;
}

.black, .black:active, .black:hover, .black:focus{
    color:black!important;
}
.white{
    color: #ffffff;
}

.menu-active{
    border-bottom:2px solid #34a99c;
}

.non-bold{
    font-weight: normal;!important;
}



.mg-0{
    margin:0!important;
}

.mg-10{
    margin:10px;
}

.pd-0{
    padding: 0!important;
}
.pd-10{
    padding: 10px!important;
}
.pd-25{
    padding: 25px!important;
}
.pd-r-25{
    padding-right: 25px!important;
}
.mg-l-15{
    margin-left:15px!important;
}
.expand{
    width:100%;
}

.expand-i{
    width:100%!important;
}
.text-20{
    font-size: 20px!important;
}

.text-24{
    font-size: 24px!important;
}
.text-14{
    font-size: 14px!important;
}


.float-rightt{
    float:right;
}







.avatar{
    width: 160px;
    height: 160px;
    overflow: hidden;
    vertical-align: middle;
    /* make it a circle */
    border-radius:50%;
}



.circle-avatar{
    /* make it responsive */
    max-width: 100%;
    width:100%;!important;
    height:100%;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;!important;



    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}





@media(max-height:765px){
    .float-rightt{
        float: left;!important;
    }
}



