*{
    font-size: 17px!important;
}

.logo{
    height:80%;
    width:auto;
}
.logo:hover{
    -webkit-animation: round 1500ms infinite;
    -webkit-animation-duration: 1200ms;
    -webkit-animation-delay: 500ms;
    -webkit-animation-timing-function: linear;
    transition: rotate 2200ms;
}

@-webkit-keyframes round {
    0% { -webkit-transform: rotate(0deg);}
    25%{ -webkit-transform: rotate(-25deg);}
    50% { -webkit-transform:  rotate(0);}
    75% { -webkit-transform: rotate(180deg);}
    90% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(360deg); }
}

body{
    background: #1e1e1e;!important;
}

.bg-green{
    background: #34a99c !important;
}

.bg-hover-green:hover,.bg-hover-green:focus,.bg-hover-green:active{
    background: #34a99c;
    color:white;
}
.bg-white{
    background: white;
}
.green{
    color: #34a99c;
}
.yellow{
    color: #ffc107;
}
.black, .black:active, .black:hover, .black:focus{
    color:black!important;
}
.white{
    color: #ffffff;
}

.menu-active{
    border-bottom:2px solid #34a99c;
}

.non-bold{
    font-weight: normal;!important;
}

.hover-green:hover,.hover-green:focus,.hover-green:active{
    color: rgba(52, 169, 156, 0.7);
}


.mg-0{
    margin:0!important;
}

.mg-5{
    margin: 5px !important;
}

.mg-5-10{
    margin: 10px 0;
}
.mg-10{
    margin:10px;
}
.mg-l-15{
    margin-left:15px!important;
}
.mg-r-30{
    margin-right:30px;!important;
}
.mg-top-20{
    margin-top: 20px!important;
}
.pd-0{
    padding: 0!important;
}
.pd-10{
    padding: 10px!important;
}
.pd-25{
    padding: 25px!important;
}
.pd-r-25{
    padding-right: 25px!important;
}


.expand{
    width:100%;
}

.expand-i{
    width:100%!important;
}
.text-20{
    font-size: 20px!important;
}

.text-24{
    font-size: 24px!important;
}
.text-14{
    font-size: 14px!important;
}

.text-35{
    font-size:35px!important;
}

.text-40{
    font-size:40px!important;
}
.text-rightt{
    text-align: right;
}
.float-rightt{
    float:right;
}
.float-right{
    float:right;
}

.sharp-corners{
    border-radius: 0;
}
.border-none{
    border: none!important;
}

.width-80{
    width:80%;
}
.width-10{
    width:10%;
}

.link1 {
    color: gray;!important;
}
.link1:hover,.link1:focus,.link1:active{

    color: black;
    text-decoration: none;
}

.link2 {
    color: #e0e0e0;
}
.link2:hover,.link2:focus,.link2:active{

    color: #adadad;
    text-decoration: none;
}

.link-hover-red {
    color: #e0e0e0;
}
.link-hover-red:hover,.link-hover-red:focus,.link-hover-red:active{

    color: #dc3545;
    text-decoration: none;
}

.link-hover-red2 {
    color: gray;
}
.link-hover-red2:hover,.link-hover-red2:focus,.link-hover-red2:active{

    color: #dc3545;
    text-decoration: none;
}

.avatar-lg{
     width: 160px;
     height: 160px;
     overflow: hidden;
     vertical-align: middle;
     /* make it a circle */
     border-radius:50%;
 }

.float-bottom{
    float:bottom;
}

.container{
    position:relative;!important;
}

.bottom{
    padding-top:13%;

}


.avatar-square{
    width: 160px;
    height: 160px;
    overflow: hidden;
    vertical-align: middle;
    /* make it a circle */
    border-radius:0;
}

.avatar-sm{
    width: 100px;
    height: 100px;
    overflow: hidden;
    vertical-align: middle;
    /* make it a circle */
    border-radius:50%;
}

.avatar-md{
    width: 130px;
    height: 130px;
    overflow: hidden;
    vertical-align: middle;
    /* make it a circle */
    border-radius:50%;
}
.circle-avatar{
    /* make it responsive */
    max-width: 100%;
    width:100%;!important;
    height:100%;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;!important;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


@media(max-height:765px){
    .float-rightt{
        float: left;!important;
    }
}
@media(max-width:765px){
    .text-rightt{
        text-align: left;
    }
}



