.minh{
    min-height:100px;
}


#folders_container{
    overflow: auto;

}

.folder-link{
    background: transparent;
    color:white;!important;
    border-radius: 0;!important;
    padding:5px 0;
    margin: 0;
    text-align: center;!important;
}

.folder-link:hover{
    color:#ffc107;!important;
}

#folders_container .active{
    border:1px solid white!important;
    background: transparent;!important;
    color:white;!important;
}

.img-container{
    margin:2%;
    padding:0;
    width:96%;
    max-height:480px;
    overflow: hidden;

}

.empty_div{
    height:25px!important;
}